@use "../abstracts/colors" as *;
@use "../abstracts/fonts" as *;
@use "../abstracts/viewports" as *;

.about {
  &__main {
    display: flex;
    justify-content: space-between;
    margin: 4rem 2rem;

    @media screen and (max-width: $vp-800) {
      flex-direction: column;
    }

    &--text {
      max-width: 70%;
      opacity: 0;

      transition: opacity linear 200ms;

      @media screen and (max-width: $vp-800) {
        max-width: 100%;
      }

      & > h1 {
        font-size: 5.2rem;
        margin-bottom: 2rem;
      }

      & > h3 {
        font-family: $font-secondary;
        font-size: 3rem;
        margin-bottom: 1rem;
      }

      & > p {
        margin-bottom: 1rem;
      }
    }

    &--image {
      align-items: center;
      align-self: center;
    }
  }

  &__skills {
    display: flex;
    justify-content: space-around;
    margin: 8rem 0;
    opacity: 0;

    transition: opacity linear 200ms;

    flex-wrap: wrap;

    @media screen and (max-width: $vp-600) {
      flex-direction: column;
      align-items: center;
    }

    & h3 {
      margin-bottom: 2rem;
    }

    & ul {
      margin-left: 2.5rem;

      @media screen and (max-width: $vp-800) {
        margin: 0 0 4rem 6.5rem;
      }

      & li {
        font-size: 2.2rem;

        &:not(:last-child) {
          margin-bottom: 1rem;
        }
      }
    }

    &--category {
      & h3 {
        text-align: center;
        @media screen and (max-width: $vp-800) {
          width: 25rem;
        }

        &::after {
          content: "";
          margin: 1rem auto;
          position: relative;
          display: block;
          border-top: 2px solid $clr-primary-3;
          width: 6rem;
        }
      }
    }
  }
}
