@use "../abstracts/colors" as *;

.btn {
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  padding: 0.5em 1.5em;
  color: $clr-text-primary;

  &--inactive {
    background-color: $clr-inactive !important;
    color: $clr-text-inactive !important;
    border: 1px solid $clr-inactive !important;

    &:hover {
      cursor: auto;
      background-color: $clr-inactive !important;
      color: $clr-text-inactive !important;
      border: 1px solid $clr-inactive !important;
    }
  }
}

.hero__text--button {
  background-color: $clr-primary-2;
  font-size: 2rem;
  border-radius: 1rem;
  margin-top: 2rem;
  padding: 0.5em 2.5em;

  transition: transform linear 100ms, box-shadow linear 100ms;

  &:hover,
  &:focus {
    transform: translateY(-0.3rem);
    box-shadow: 0px 8px 20px -7px $clr-shadow;
  }

  &:active {
    transform: translateY(-0.1rem);
    box-shadow: 0px 8px 10px -7px $clr-shadow;
  }
}

.projects__card--text-btn {
  border: 1px solid $clr-text-primary;
  font-size: 1.7rem;
  border-radius: 3rem;
  margin-top: 2rem;

  transition: all linear 100ms;

  &:hover,
  &:focus {
    background-color: $clr-primary-2;
    border: 1px solid $clr-primary-2;
  }
}

.btn-submit {
  font-family: inherit;
  font-size: 1.7rem;
  padding: 0.6em 1.6em;
  margin-left: 2rem;
  border: none;
  border-radius: 2rem;
  background-color: $clr-primary-2;

  transition: transform linear 100ms, box-shadow linear 100ms;

  &:hover,
  &:focus {
    transform: translateY(-0.3rem);
    box-shadow: 0px 5px 20px -7px $clr-shadow;
  }

  &:active {
    transform: translateY(-0.1rem);
    box-shadow: 0px 8px 10px -7px $clr-shadow;
  }
}

.about__main--button {
  font-size: 1.7rem;
  background-color: $clr-primary-2;
  margin-top: 2rem;
  border: 1px solid $clr-primary-2;
  border-radius: 1rem;

  transition: transform linear 100ms, box-shadow linear 100ms;

  &:hover,
  &:focus {
    transform: translateY(-0.3rem);
    box-shadow: 0px 5px 20px -7px $clr-shadow;
  }

  &:active {
    transform: translateY(-0.1rem);
    box-shadow: 0px 8px 10px -7px $clr-shadow;
  }
}
