@use "../abstracts/colors" as *;
@use "../abstracts/fonts" as *;
@use "../abstracts/viewports" as *;

header {
  padding: 0 2rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;

  background-color: $clr-secondary;
  transition: filter linear 200ms;

  & h1 {
    font-family: $font-secondary;
    font-size: 2.4rem;
    font-weight: 400;
  }
}

.shadow header {
  filter: drop-shadow(0 -10px 20px $clr-shadow);
}

.header__nav {
  display: flex;
  margin: 0 auto;
  padding: 1.5rem 0;
  max-width: 120rem;
  justify-content: space-between;

  &--items {
    font-weight: 600;
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 2rem;
    color: $clr-text-primary;

    @media (max-width: $vp-500) {
      display: none;
    }

    & li:not(:last-child) {
      margin-right: 4rem;
    }

    & a {
      border-radius: 2rem;
      transition: box-shadow linear 100ms, background-color linear 100ms;

      &::after {
        content: "";
        display: block;
        position: relative;
        top: 0.4rem;
        width: 100%;
        height: 1px;
        background-color: $clr-primary;
        transform: scale3d(0, 1.5, 0);
        transition: transform ease-in-out 150ms,
          background-color ease-in-out 150ms;
      }

      &:hover {
        &::after {
          background-color: $clr-primary;
          transform: scale3d(0.6, 1.5, 1);
        }
      }
    }
  }
}
