@use "../abstracts/colors" as *;
@use "../abstracts/viewports" as *;
@use "../abstracts/keyframes" as *;

.hero {
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: $vp-600) {
    flex-direction: column;
  }

  &__text {
    margin-top: 6rem;
    padding: 0 2rem;
    max-width: 40%;
    opacity: 0;
    transform: translateX(-2rem);

    transition: opacity linear 200ms, transform linear 200ms;

    @media screen and (max-width: $vp-1100) {
      max-width: 50%;
    }

    @media screen and (max-width: $vp-600) {
      max-width: 100%;
    }

    & h1 {
      margin-bottom: 2rem;

      @media screen and (max-width: $vp-800) {
        font-size: 5.4rem;
      }
    }
  }

  &__illustration {
    margin-right: 2rem;

    animation: heroAnimation 1000ms;

    @media screen and (max-width: $vp-1100) {
      max-width: 50%;
    }

    @media screen and (max-width: $vp-600) {
      max-width: 100%;
      margin: 0 2rem;
    }
  }
}
