@use "../abstracts/fonts" as *;
@use "../abstracts/colors" as *;
@use "../abstracts/viewports" as *;

::selection {
  color: $clr-secondary;
  background-color: $clr-text-primary;
}

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: $font-base;
  background-color: $clr-secondary;

  @media (max-width: $vp-960) {
    font-size: $font-medium;
  }
}

main {
  max-width: 127rem;
  margin: 0 auto;
}

body {
  color: $clr-text-secondary;
  font-family: $font-secondary;
  margin-top: 8rem;
}

h1,
h2,
h3 {
  color: $clr-text-primary;
  font-family: $font-primary;
}

h1 {
  font-size: 6.4rem;
}

h2 {
  font-size: 4.4rem;
}

h3 {
  font-size: 3.3rem;
}

p {
  font-size: 2.4rem;
}

a {
  text-decoration: none;
  color: inherit;
}

.content-visible {
  opacity: 1 !important;
  transform: translate(0) !important;
}
