@use "../abstracts/fonts" as *;
@use "../abstracts/colors" as *;
@use "../abstracts/viewports" as *;
@use "../abstracts/keyframes" as *;

#projects {
  position: relative;
  top: -8rem;
}

.projects {
  margin: 10rem auto;
  opacity: 0;
  transform: translateY(2rem);

  transition: opacity linear 200ms, transform linear 200ms;

  & > h2 {
    text-align: center;

    &::after {
      content: "";
      margin: 1rem auto;
      position: relative;
      display: block;
      border-top: 3px solid $clr-primary-3;
      width: 10rem;
    }
  }

  &__card {
    display: flex;
    justify-content: space-between;
    margin: 6rem auto;
    background-color: white;
    max-width: 65vw;
    min-height: 50rem;
    border-radius: 2rem;
    box-shadow: -1px 6px 25px -8px $clr-shadow;

    @media screen and (max-width: $vp-1100) {
      max-width: 80vw;
    }
    @media screen and (max-width: $vp-960) {
      flex-direction: column;

      &:nth-child(odd) {
        flex-flow: column-reverse;
      }
    }

    &:hover {
      .projects__card--image img {
        transform: scale(1.1) !important;
      }
    }

    & h3 {
      margin-bottom: 2rem;
    }

    & p {
      font-size: 2rem;
    }

    &--text {
      padding: 0 4rem;
      align-self: center;
      width: 50%;

      @media screen and (max-width: 60rem) {
        width: 100%;
        padding: 4rem;
      }
    }

    &--image {
      width: 50%;

      & img {
        transition: transform linear 200ms !important;
      }

      &:nth-child(odd) {
        border-top-left-radius: 2rem;
        border-bottom-left-radius: 2rem;

        @media screen and (max-width: 60rem) {
          border-radius: 2rem 2rem 0 0;
        }
      }

      &:nth-child(even) {
        border-top-right-radius: 2rem;
        border-bottom-right-radius: 2rem;

        @media screen and (max-width: 60rem) {
          border-radius: 2rem 2rem 0 0;
        }
      }

      @media screen and (max-width: 60rem) {
        width: 100%;
      }
    }
  }
}
